input[type=number]{
	width: 3%;
}
img{
	width: 5%;
	height: 5%;
}
body{
	border-style: dotted solid;
	border-width: 1.5px;
	border-radius: 10px;
	padding-left: 15px;
}
.aciertos,.timer{
	width: 3%;
}